<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luoj.airdroid">

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestActivityPreview"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TestEncodeLoopback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.TestNoEncodeLoopback"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RTPPlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RTPShareActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RTPProjectionActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".activity.InputActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.AutoConnectActivity"
            android:screenOrientation="landscape" />

        <service android:name=".service.ProjectionService" />
        <service android:name=".service.RTPProjectionService" />
        <service android:name=".service.RemoteService" />
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>